*{
    margin: 0;
    padding: 0;
}
.img-backgrond{
    transform: rotate(180deg);
    width: 100%;
    height: 120%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
}
.box-1{
    position: relative;
    z-index: 1; 
}
.A{
    display: flex;
}
.box-1 h1{
    margin: 50px;
    font-size: 80px;
    color: rgb(255, 255, 255);
    font-family: "Grey Qo", cursive;
    font-weight: 400;
    font-style: normal;
}
.A a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.852);
    margin: 50px;
    font-size: 50px;
    font-family: "Grey Qo", cursive;
    font-weight: 400;
    font-style: normal;
}
.A .a1{
    margin-left: 40%;
}
.A a:hover{
    color: rgb(255, 255, 255);
    cursor: default;
}
.box-2{
    display: flex;
    gap: 100px;
}
.box-1 .h2-p{
    background-color: rgb(0, 0, 0);
    width: 500px;
    height: 300px;
    border-radius: 0 50% 50% 0;
}
.box-1 .h2-p h2{
    color: white;
    margin: 50px;
    font-size: 50px;
    font-family: "Grey Qo", cursive;
    font-weight: 400;
    font-style: normal;
}
.box-1 .h2-p marquee{
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
}
.contacte{
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.contacte img:hover{
    filter: drop-shadow( 0 0 60px rgb(4, 0, 255));
}
.contacte img{
    width: 30px;
    height: 30px;
}
.contacte a{
    font-size: 50px;
    color: rgb(255, 255, 255);
    margin: 50px;
}
.icon:hover{
    scale: 1.2;
}
.languages P{
    margin: 30px;
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: aqua;
}
.skill{
    display: flex;
    justify-content: center;
    align-items: center;
}
.languages img{
    width: 40px;
    height: 40px;
}
h6{
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}
.progress-bar{
    background-color: rgb(15, 36, 36);
    width: 90%;
    height: 10px;
    border-radius: 50px;
}
.html{
    width: 95%;
    height: 10px;
    background-color: aqua;
    filter: drop-shadow(0 0 30px aqua);
    border-radius: 50px;
}
.css{
    width: 90%;
    height: 10px;
    background-color: aqua;
    filter: drop-shadow(0 0 30px aqua);
    border-radius: 50px;
}
.bootstrap{
    width: 70%;
    height: 10px;
    background-color: aqua;
    filter: drop-shadow(0 0 30px aqua);
    border-radius: 50px;
}
.js{
    width: 60%;
    height: 10px;
    background-color: aqua;
    filter: drop-shadow(0 0 30px aqua);
    border-radius: 50px;
}
.git-github{
    width: 50%;
    height: 10px;
    background-color: aqua;
    filter: drop-shadow(0 0 30px aqua);
    border-radius: 50px;
}
.tailwind{
    width: 50%;
    height: 10px;
    background-color: aqua;
    filter: drop-shadow(0 0 30px aqua);
    border-radius: 50px;
}
h5{
    margin: 100px 0 50px 50px;
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.about-me{
    display: flex;
    margin: 30px;
    background-color: rgba(70, 69, 69, 0.067);
    border-radius: 30px;
}
.about-me img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 50px;
}
.about-me p{
    font-size: 30px;
    margin: 10px;
    font-family: "Roboto Mono", monospace;
}
h4{
    margin: 50px;
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.project{
    display: flex;
    margin: 50px;
    background-color: rgba(70, 69, 69, 0.067);
    border-radius: 30px;
}
.img-project{
    width: 40%;
    height: 15%;
    margin: 50px;
    border-radius: 30px;
}
.img-project p{
    font-size: 10px;
}
.img-project img{
    width: 100%;
    height: 100%;
}
.information{
    margin: 50px;
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    width: 100%;
    display: flex;
    gap: 50px;
}
.information .title-p{
    width: 70%;
    text-align: center;
}
.information .title-p h5{
    font-size: 40px;
    margin: 10px;
}
.information .imgs-button{
    text-align: center;
}
.information button{
    margin: 50px;
    border-radius: 30px;
    background-color: white;
}
.information button a{
    margin: 50px;
    font-size: 20px;
    text-decoration: none;
    color: black;
}
.information button:hover{
    filter: drop-shadow(0 0 30px rgb(0, 0, 0));
}
.information .title-p p{
    margin: 10px;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.information img{
    width: 50px;
    height: 50px;
}